<div class="jumbotron aligntextcenter">
  <% if current_user %>
    <h2>Welcome back <%= current_user.email %></h2>
  <% else %>
    <h2>Welcome to HowToPedia</h2>
    <p>This is a private How to page, so please </p>
    <p>
      <%= link_to "Sign In", new_user_session_path %> or
      <%=  link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> Today!
    </p>
  <% end %>
</div>